<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

- Run the ETL process
- Extract bank and market cap data from the JSON file `bank_market_cap.json`
- Transform the market cap currency using the exchange rate data
- Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [2]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [3]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [4]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2023-07-15 06:53:00--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json.1’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2023-07-15 06:53:00 (27.4 MB/s) - ‘bank_market_cap_1.json.1’ saved [2815/2815]

--2023-07-15 06:53:01--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json.1’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2023-07-15 06:53:01 (12.0 MB/s) - ‘bank_market_cap_2.json.1’ saved [1429/1429]

--2023-07-15 06:53:02--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv.1’

exchange_rates.csv. 100%[===================>]     590  --.-KB/s    in 0s

2023-07-15 06:53:02 (4.61 MB/s) - ‘exchange_rates.csv.1’ saved [590/590]

## Extract

### JSON Extract Function

This function will extract JSON files.

In [5]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [5]:
columns=['Name','Market Cap (US$ Billion)']

In [6]:
def extract():
    # Write your code here
    obj = extract_from_json('bank_market_cap_1.json')
    return obj

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [7]:
# Write your code here
ex_rt_df = pd.read_csv('exchange_rates.csv', index_col=0)
exchange_rate = ex_rt_df.loc['GBP', 'Rates']
print(exchange_rate)

0.7323984208000001

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1. Changes the `Market Cap (US$ Billion)` column from USD to GBP
2. Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3. Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [8]:
def transform(data, rate):
    # Write your code here
    data['Market Cap (US$ Billion)'] = data['Market Cap (US$ Billion)'].apply(
        lambda x: x * rate
    )
    data['Market Cap (US$ Billion)'] = data['Market Cap (US$ Billion)'].apply(
        lambda x: round(x, 3)
    )
    data.rename(columns={'Market Cap (US$ Billion)':
                         'Market Cap (GBP$ Billion)'}, inplace=True)

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [9]:
def load(df):
    # Write your code here
    df.to_csv('bank_market_cap_gbp.csv', index=False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [10]:
def log(msg):
    # Write your code here
    with open('log.txt', 'a') as logfile:
        logfile.write(msg)
    print(msg)

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [11]:
# Write your code here
log("ETL Job Started")
log("Extract phase Started")

ETL Job Started
Extract phase Started

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [12]:
# Call the function here
qs2 = extract()
# Print the rows here
qs2.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as <code>"Extract phase Ended"</code>

In [13]:
# Write your code here
log("Extract phase Ended")
log(qs2.to_string())

Extract phase Ended
                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   390.934
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399
5                         HSBC Holdings PLC                   219.270
6                Agricultural Bank of China                   203.244
7                            Citigroup Inc.                   203.165
8                             Bank of China                   181.469
9                      China Merchants Bank                   122.616
10                     Royal Bank of Canada                   122.564
11                          Banco Santander                   115.696
12                        Commonwealth Bank                   112.227
13           Mitsubishi UFJ Financial Group                   111.660
14                    Toronto-Dominion Bank                   108.449
15                              BNP Paribas                   103.258
16                            Goldman Sachs                   100.705
17                       Sberbank of Russia                    99.840
18                           Morgan Stanley                    99.651
19                             U.S. Bancorp                    94.558
20                                HDFC Bank                    88.435
21                            Itaú Unibanco                    86.203
22                                  Westpac                    84.560
23                               Scotiabank                    78.947
24                                ING Group                    78.920
25                                      UBS                    75.482
26                           Charles Schwab                    74.255
27                   PNC Financial Services                    72.246
28                     Lloyds Banking Group                    71.253
29          Sumitomo Mitsui Financial Group                    67.328
30                   Bank of Communications                    67.078
31  Australia and New Zealand Banking Group                    66.448
32                           Banco Bradesco                    64.816
33                  National Australia Bank                    63.794
34                          Intesa Sanpaolo                    62.032
35          Banco Bilbao Vizcaya Argentaria                    60.678
36                          Japan Post Bank                    60.525
37              The Bank of New York Mellon                    59.823
38         Shanghai Pudong Development Bank                    58.796
39                  Industrial Bank (China)                    57.388
40                Bank of China (Hong Kong)                    55.449
41                         Bank of Montreal                    53.181
42                          Crédit Agricole                    52.141
43                                 DBS Bank                    51.475
44                                   Nordea                    51.185
45                              Capital One                    51.107
46                            NatWest Group                    50.490
47                   Mizuho Financial Group                    50.018
48                            Credit Suisse                    48.462
49             Postal Savings Bank of China                    47.948
50                      China Minsheng Bank                    47.921
51                                UniCredit                    47.777
52                         China CITIC Bank                    47.451
53                           Hang Seng Bank                    46.171
54                         Société Générale                    46.051
55                                 Barclays                    45.850
56       Canadian Imperial Bank of Commerce                    43.544
57                        Bank Central Asia                    43.344
58                         Truist Financial                    41.923
59             Oversea-Chinese Banking Corp                    41.362
60                      State Bank of India                    40.562
61                             State Street                    39.769
62                            Deutsche Bank                    38.649
63                                 KBC Bank                    38.394
64                              Danske Bank                    38.223
65                             Ping An Bank                    37.993
66                       Standard Chartered                    37.319
67                     United Overseas Bank                    35.128
68                                QNB Group                    33.560
69                              Bank Rakyat                    33.081

### Transform

Log the following  <code>"Transform phase Started"</code>

In [14]:
# Write your code here
log("Transform phase Started")

Transform phase Started

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [15]:
# Call the function here
transform(qs2, exchange_rate)
# Print the first 5 rows here
qs2.head()

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

Log your data <code>"Transform phase Ended"</code>

In [16]:
# Write your code here
log("Transform phase Ended")

Transform phase Ended

### Load

Log the following `"Load phase Started"`.

In [17]:
# Write your code here
log("Load phase Started")

Load phase Started

Call the load function

In [18]:
# Write your code here
load(qs2)

Log the following `"Load phase Ended"`.

In [19]:
# Write your code here
log("Load phase Ended")

Load phase Ended

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).